**/__pycache__
**/migrations
../test_bd/db.sqlite3
**/settings.py
**/.gitignore
.vscode
/desc
/Реестр договоров.xlsx
/desk_lb.txt
/debug.log
/analytics/static/styles/
.idea
debug.log
env
db.sqlite3
env
