{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntroPage</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
</head>
<body>

    <div class="sign-in-page">

        <div class="sign-in-window">

            <div class="sign-in-logo-field">
    {#            <a href=""><img class="logo" src="{% static 'img/gazpromlogo_5.png' %}" alt="logo"></a>#}
                <img class="sign-in-logo" src="{% static 'img/gazpromlogo-blue.png' %}" alt="logo">
            </div>

            <form class="inputs" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.username }}
                {{ form.password }}
                <button type="submit" class="button">Вход</button>
            </form>
            {% if form.errors %}
                <h3>Проверьте введенные вами данные!</h3>
            {% endif %}

        </div>

    </div>

</body>
</html>
