{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntroPage</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
</head>
<body>

    <div class="sign-in-page">

        <div class="sign-in-logo">
            <a href=""><img class="logo" src="{% static 'img/gazpromlogo_2.png' %}" alt="logo"></a>
        </div>

        <div class="sign-in-window">

            <div class="inputs">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ form.username }}<br>
                    {{ form.password }}

                    <div class="sign-in-button">
                        <button type="submit" class="button">
                            Вход
                        </button>
                    </div>
                </form>
                {% if form.errors %}
                    <h1>проверьте введенные вами данные</h1>
                {% endif %}
            </div>

        </div>

    </div>

</body>
</html>
