@import './fonts.css';
body{
    font-size: 18px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    /* background-color: #435e7c; */
    /* background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%); */
    background: rgb(0,114,202);
    background: linear-gradient(280deg, rgba(0,114,202,1) 0%, rgba(0,26,92,1) 100%);    
    padding-left: 5px;
    padding-right: 5px;
}

.logo{
    /* background-image: url('{% static "./planes/img/logo.jpg" %}'); */
    background-image: url('../img/logo.jpg');
    width: 163px;
    height: 100px;
    background-size: cover;
    border-radius: 47%;
}

.user{
    margin-top: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: 'Balsamiq';

}

.nav{
    background: linear-gradient(280deg, rgba(0,114,202,1) 0%, rgba(0,26,92,1) 100%);
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    
    
    
}

.navigation{
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;


}

.item{
    margin-top: 19px;
}


.item-link{
    text-decoration: none;
    padding: 5px;
    background-color: rgba(171, 171, 171, 0.2);
    border-radius: 4px;
    color: white;
    font-family: 'Play';
}

.item-link:hover{
    color: #78c9ff;
    background-color: rgba(171, 171, 171, 0.4);
}




.content{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
  }
th{
    font-weight: 800;
    padding: 5px;
}

td{
    padding: 5px;
}

.cost-title{
    font-size: 28px;
    font-weight: 800;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}


h1{
    font-size: 24px;
    display: inline-block;
}

p{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wrapper-footer{
    background-color:#435e7c;
    height: 70px;
    padding-left: 5px;
    padding-right: 5px;
}
