body{
    margin: 0;
    padding: 0;
}


/* body {background-color: #f9f9f9}
.container {margin-top: 20px;}
th[draggable] a,
th[draggable] {cursor: move;}
th[draggable] a:hover,
th[draggable] a {display: block; text-decoration: none; color: #333333;}
.drag {background-color: rgba(0, 0, 0, 0.25); opacity: 0.25}
.dnd-drag {opacity: 0.25}
.over {background-color: rgba(0, 0, 255, 0.35);} */

a{
    text-decoration: none;
    font-family: 'Roboto';
}

p{
    max-width: 150px;
    text-align: center;
    font-family: 'Roboto' ;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    max-height: 50px;
}

.invisible{
    visibility: hidden;
}
/* ШАПКА */
header{
    padding: 20px;
    margin: 0;    
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(13,96,209,1) 100%);
    max-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.bold{
    font-weight: 600;
}

.logo{
    display: inline-block;
    width: 276px;
    height: 138px;
    margin: 0;
    padding: 0;
    margin-left: 44px;
}

.user-info-txt{
    font-size: 18px;
    display: block;
    color: white;
    margin: 0 auto;
    margin-right: 40px;
    margin-top: 20px;
}

/* МЕНЮ */

nav{
    width: 100wh;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-element{
    font-size: 28px;
    color: #0d60d1;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
/* CONTENT */

.container{
    max-width: 1200px;
    /* margin: 0 auto; */
    margin-left: 85px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-self: start;
}

.search-field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-textfield{
    width: 400px;
    height: 40px;
    border: solid 1px #00233B;
    padding: 4px;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button{
    background: white;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    margin-left: 5px;
}

.search-icon{
    height: 40px;
    padding: 4px;
}

.action-list-headliner{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
}

.action-list-txt{
    margin-right: 80px;
    text-decoration: underline;
    font-size: 20px;
}

.action-list{
    display: flex;
    margin-left: 84px;
    
    margin-bottom: 50px;
}

.checkboxes{
    display: flex;
    flex-direction: column;
}
/* СТИЛИ ТАБЛИЦЫ */

td{
    border: solid 1px #00233B;
    font-family: 'Roboto';
    font-size: 17px;
}

.table-cont{
    width: 100%;
    /* display: flex;
    justify-content: center; */
    overflow-x:auto;
}

table{
    border-collapse: collapse;
}

/* ТАБЛИЦА АДМИНИСТРИРОВАНИЯ */

th{
    border: 1px solid black;
    font-family: "Roboto";
    padding: 40px 20px 40px 20px;
}

td{
    padding: 20px;
    text-align: center;
    padding: 40px 20px 40px 20px;
}


/* КОНЕЦ ТАБЛИЧНЫХ СТИЛЕЙ */

#buttonsfield{
    margin-left: 84px;
    padding-bottom: 80px;
}

.buttons-container{
    display: flex;
    align-items: center;
}
.button{
    border: none;
    color: inherit;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    font: 'Roboto';
    color: white;
    width: 200px;
    height: 50px;
    background-color: #0d60d1;
    border-radius: 5px;
    margin-right: 20px;
}

/* СТИЛИ ДЛЯ СПРАВОЧНИКОВ */

#directories-list{
    margin-left: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 30px;
}

li a{
    font-size: 25px;
    
}

/*КОНЕЦ СТИЛЕЙ СПРАВОЧНИКОВ*/

/* СТИЛИ ДЛЯ УВЕДОМЛЕНИЙ */

/* not === notification */

.notifications-list-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    height: 600px;
    overflow: scroll;
    margin-bottom: 100px;
}

/* .notification-table{
    height: 300px;
    overflow: scroll;
} */

.not-default{
    height: 40px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.notification-status{
    width: 80px;
}

.notification-date{
    width: 400px;
    
}
.notification-cell{
    width: 800px;
}

.active-not-txt{
    max-width: 300px;
}

/* ПЛАНИРОВАНИЕ */

.planning-content{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 50px;
}

.planning-table{
    overflow-x:auto;
}

/* ТАБЛИЦА ПЛАНИРОВАНИЯ */

.financing-item{
    width: 300px;
    height: 80px;
    font-size: 24px;
}

.quarters{
    height: 80px;
    width: 200px;
    font-size: 24px;
}

.total{
    height: 80px;
    width: 200px;
    font-size: 24px;
}

.active-financing-item{
    text-decoration: underline;
    width: 300px;
    height: 80px;
    font-size: 24px;
}

/* КОНЕЦ ТАБЛИЦЫ ПЛАНИРОВАНИЯ */

.drop-list-container{
    margin-left: 30px;
}

.plans-buttonsfield{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* СТРАНИЦА ВХОДА */

.sign-in-logo a .logo{
    margin: 0;
    margin-bottom: 30px;
}

.sign-in-page{
    width: 100vw;
    height:100vh;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(13,96,209,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-in-window{
    width: 600px;
    height: 300px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.sign-in-textfield{
    padding: 15px;
    margin-top: 10px;
    width:300px;
}

.sign-in-button .button{
    width: 100px;
    height: 40px;
}

@media(max-width:1223px){
   nav{
       max-height: 300px;
   }

   .nav-element{
       padding-top: 10px;
       padding-bottom: 10px;
   }

   input{
       max-width:200px ;
       min-width: 50px;
   }

   header{
        flex-direction: column;
        max-height: 300px;
   }

   .user-info{
       justify-self: flex-end;
       margin-bottom: 30px;
   }

   .action-list-headliner{
       justify-content: center;
       align-items: center;
   }

   .action-list-txt{
       margin-right: 0;
   }

   .container{
       display: flex;
       justify-content: center;
   }

   .buttons-container{
        /* flex-direction: column; */
        flex-wrap: wrap;
   }

   .button{
        margin-top: 10px;
        margin-bottom: 10px;
   }

   .table-cont{
       width: 855px;
   }
}
/* 
