{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<div class="container-fluid" id="HTMLtoPDF">
  <h1 class="print output"> Исполнение плана по Минскому УМГ</h1>
  <h4 class="print output" id="reportName">По статье финансирования {{finance_cost_title}}, по куратору {{curator_title}} за год {{year}}</h4>

  <div class="row">
    <div class="col-sm-5 print output ">
                <div class="chart-container" style="overflow-x:auto;" >

<canvas id="myChart" ></canvas></div>

<table   class="table-responsive " style="font-size:0.9vw; " id="table_id">

    <tr>
        <th> Показатель </th>
        <th> 1 квартал </th>
        <th> 2 квартал </th>
        <th> 3 квартал </th>
        <th> 4 квартал </th>
        <th> 6 месяцев </th>
        <th> 9 месяцев </th>
        <th> Год </th>
    </tr>
    <tr>
        {% for plan in planning %}
        <td > Лимит средств (План). По заказам ТОРО  </td>
        <td> {{plan.q_1}}</td>
        <td> {{plan.q_2}}</td>
        <td> {{plan.q_3}}</td>
        <td> {{plan.q_4}}</td>
        <td> {{plan.q_6_months}}</td>
        <td> {{plan.q_9_months}}</td>
        <td> {{plan.q_all}}</td>
    </tr>
{% endfor %}

    <tr>
        <td> План по всем договорам </td>
        <td> {{plan_sum_sap.1quart}}</td>
        <td> {{plan_sum_sap.2quart}}</td>
        <td> {{plan_sum_sap.3quart}}</td>
        <td> {{plan_sum_sap.4quart}}</td>
        <td> {{plan_sum_sap.6months}}</td>
        <td> {{plan_sum_sap.9months}}</td>
        <td> {{plan_sum_sap.year}}</td>
    </tr>

    <tr>
        <td> Сумма заключенных договоров </td>
        <td> {{contract_sum_without_NDS_BYN.1quart}}</td>
        <td> {{contract_sum_without_NDS_BYN.2quart}}</td>
        <td> {{contract_sum_without_NDS_BYN.3quart}}</td>
        <td> {{contract_sum_without_NDS_BYN.4quart}}</td>
        <td> {{contract_sum_without_NDS_BYN.6months}}</td>
        <td> {{contract_sum_without_NDS_BYN.9months}}</td>
        <td> {{contract_sum_without_NDS_BYN.year}}</td>
    </tr>

    <tr>
        <td> Факт </td>
        <td> {{fact_total.1quart}}</td>
        <td> {{fact_total.2quart}}</td>
        <td> {{fact_total.3quart}}</td>
        <td> {{fact_total.4quart}}</td>
        <td> {{fact_total.6months}}</td>
        <td> {{fact_total.9months}}</td>
        <td> {{fact_total.year}}</td>
    </tr>

    <tr>
        <td> Прогноз </td>
        <td> {{forecast_total.1quart}}</td>
        <td> {{forecast_total.2quart}}</td>
        <td> {{forecast_total.3quart}}</td>
        <td> {{forecast_total.4quart}}</td>
        <td> {{forecast_total.6months}}</td>
        <td> {{forecast_total.9months}}</td>
        <td> {{forecast_total.year}}</td>
    </tr>

     <tr>
        <td> % выполнения плана </td>
        <td> {%widthratio fact_total.1quart plannings.q_1 100%} %</td>
        <td> {%widthratio fact_total.2quart plannings.q_2 100%} %</td>
        <td> {%widthratio fact_total.3quart plannings.q_3 100%} %</td>
        <td> {%widthratio fact_total.4quart plannings.q_4 100%} %</td>
        <td> {%widthratio fact_total.6months plannings.q_6_months 100%} %</td>
        <td> {%widthratio fact_total.9months plannings.q_9_months 100%} %</td>
        <td> {%widthratio fact_total.year plannings.q_all 100%} %</td>
    </tr>

</table>


    </div>
    <div class="col-sm-3 print output"  >
            <div class="chart-container" style="overflow-x:auto;">
    <canvas id="contractCountAll" style="overflow-x:auto;" ></canvas>
</div>

<div class="chart-container" style="overflow-x:auto;">
    <canvas id="contractCountSub" ></canvas>
</div>

<div class="chart-container" style="overflow-x:auto;">
    <canvas id="contractCountCentre" ></canvas>
</div>
    </div>


      <div class="col-sm-2" id="form" data-html2canvas-ignore="true">
                  <form action="{% url 'analytics:implementation_plan'  %}" method="get" name="filter" class="form-group">
    <p><label for="year">Отчетный год </label>
        <select id="year" size="1" name="select_year" class="form-control form-implementation" >
        {% for year in years %}
            <option id="year_option" selected="selected" class="year-selector" > {{year}} </option>
        {% endfor %}
        </select></p>

    <p><label for="financeCost">Статья финансирования </label>
        <select id="financeCost" name="select_cost" size="1" class="form-control form-implementation">
        {% for cost in FinanceCosts %}
        <option id="cost_option" value={{cost.id}} selected="selected">{{cost.title}}</option>
        {% endfor %}
        <option value="0">Все</option>
        </select></p>

    <p><label for="curator">Куратор </label>
    <select id='curator' name="select_curator" size="1" class="form-control form-implementation">
        {% for curator in curators %}
        <option id="curator_option" value={{curator.id}} selected="selected">{{curator.title}}</option>
        {% endfor %}
        <option value="0">Все</option>
    </select></p>

    <p><label for="contractType">Тип договора </label>
    <select id='contractType' name="select_contractType" size="1" class="form-control form-implementation">
        {% for type in contract_types %}
        <option id="contractType_option" value={{type.id}} selected="selected">{{type.title}}</option>
        {% endfor %}
        <option value="0">Все</option>
    </select></p>

    <p><label for="contractStatus">Статус договора </label>
    <select id='contractStatus' name="select_contractStatus" size="1" class="form-control form-implementation">
        {% for status in contract_status %}
        <option id="contractStatus_option" value={{status.id}} selected="selected">{{status.title}}</option>
        {% endfor %}
        <option value="0">Все</option>
    </select></p>

            <input type="submit" class="form_submit" value="OK" >

        </form>
      </div>
  </div>

<div class="buttons-container">
            <button class="button" onclick="javascript:window.open('mailto:test@example.com')">Отправить</button>
            <button class="button" onclick="javascript:window.print()">Печать</button>
    <div class="dropdown">
            <button class="button dropbtn" onclick="myFunction()">Сохранить</button>
                <div id="myDropdown" class="dropdown-content">
                <a type="button" onclick="exportToExcel('table_id', 'implementation_analysis')">Excel</a>
                <a type="button" onclick="generatePDF()">PDF</a>
                </div>
    </div>
            <button class="button" onclick="history.back()">Назад</button>
</div>

<script src="{%static 'analytics/js/jquery.min.js'%}" ></script>
<script src="{%static 'analytics/js/jquery-sortable.js'%}" ></script>
<link rel="stylesheet" href="{%static 'analytics/css/analytics.css'%}">
<script src="{%static 'analytics/js/scriptAnalytics.js'%}" ></script>
<script src="{%static 'analytics/js/jspdf.min.js'%}" ></script>
<script src="{%static 'analytics/js/html2canvas.js'%}"></script>
<script src="{%static 'analytics/js/html2pdf.bundle.min.js'%}"></script>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!--<script src={%static 'analytics/js/Chart.bundle.min.js'%} ></script>-->


<script id="scriptIDmyChart">
var ctx = document.getElementById('myChart').getContext('2d');

var planningData = {
    label: "Лимит средств",
    data: [{{plannings.q_1}},
             {{plannings.q_2}},
             {{plannings.q_3}},
             {{plannings.q_4}},
             {{plannings.q_6_months}},
             {{plannings.q_9_months}},
             {{plannings.q_all}}
             ],
    backgroundColor: 'rgba(255, 206, 86, 0.2)',
    borderColor: 'rgba(255, 206, 86, 1)'

};

var planSumSAPData = {
    label: "План по договорам",
    data: [{{plan_sum_sap.1quart}},
             {{plan_sum_sap.2quart}},
             {{plan_sum_sap.3quart}},
             {{plan_sum_sap.4quart}},
             {{plan_sum_sap.6months}},
             {{plan_sum_sap.9months}},
             {{plan_sum_sap.year}}
             ],
    backgroundColor: 'rgba(255, 99, 132, 0.2)',
    borderColor: 'rgba(255, 99, 132, 1)'

};

var contractSumData = {
    label: "Сумма заключенных договоров",
    data: [{{contract_sum_without_NDS_BYN.1quart}},
           {{contract_sum_without_NDS_BYN.2quart}},
           {{contract_sum_without_NDS_BYN.3quart}},
           {{contract_sum_without_NDS_BYN.4quart}},
           {{contract_sum_without_NDS_BYN.6months}},
           {{contract_sum_without_NDS_BYN.9months}},
           {{contract_sum_without_NDS_BYN.year}}
           ],
    backgroundColor: 'rgba(54, 162, 235, 0.2)',
    borderColor: 'rgba(54, 162, 235, 1)'

};

var factData = {
    label: "Факт",
    data: [{{fact_total.1quart}},
           {{fact_total.2quart}},
           {{fact_total.3quart}},
           {{fact_total.4quart}},
           {{fact_total.6months}},
           {{fact_total.9months}},
           {{fact_total.year}}
           ],
    backgroundColor: 'rgba(153, 102, 255, 0.2)',
    borderColor: 'rgba(153, 102, 255, 1)'

};

var forecastData = {
    label: "Прогноз",
    data: [{{forecast_total.1quart}},
           {{forecast_total.2quart}},
           {{forecast_total.3quart}},
           {{forecast_total.4quart}},
           {{forecast_total.6months}},
           {{forecast_total.9months}},
           {{forecast_total.year}}
           ],
    backgroundColor: 'rgba(75, 192, 192, 0.2)',
    borderColor: 'rgba(75, 192, 192, 1)'

};

var sumData = {
    labels: ['1 квартал',
         '2 квартал',
          '3 квартал',
          '4 квартал',
          '6 месяцев',
          '9 месяцев',
          'Год'],
    datasets: [planningData, planSumSAPData, contractSumData, factData, forecastData]
    };

var chartOptions = {
    responsive: true,
    title:{
    display:true,
    text:'Исполнение плана по Минскому УМГ (BYN)'}

};

var myChart = new Chart(ctx, {
    type: 'bar',
    data: sumData,
    options: chartOptions
});
</script>

<script id="scriptIDcontractCountAll">
var ctx = document.getElementById('contractCountAll').getContext('2d');

var countPlan = {
    label: "Количество планируемых договоров",
    data: [{{contracts_count_plan.Все}}
             ],
    backgroundColor: 'rgba(255, 206, 86, 0.2)',
    borderColor: 'rgba(255, 206, 86, 1)'

};

var countFact = {
    label: "Количество заключенных договоров",
    data: [{{contracts_count_fact.Все}}
             ],
    backgroundColor: 'rgba(255, 99, 132, 0.2)',
    borderColor: 'rgba(255, 99, 132, 1)'
};


var countData = {
    labels: ['Планируемые','Заключенные'
          ],
    datasets: [countPlan, countFact]
    };

var chartOptions = {
    responsive: true,
    title:{
    display:true,
    text:'Все договоры'}

};

var myChart = new Chart(ctx, {
    type: 'bar',
    data: countData,
    options: chartOptions
});
</script>

<script id="scriptIDcontractCountSub">
var ctx = document.getElementById('contractCountSub').getContext('2d');

var countPlan = {
    label: "Количество планируемых договоров",
    data: [{{contracts_count_plan.Филиал}}
             ],
    backgroundColor: 'rgba(255, 206, 86, 0.2)',
    borderColor: 'rgba(255, 206, 86, 1)'

};

var countFact = {
    label: "Количество заключенных договоров",
    data: [{{contracts_count_fact.Филиал}}
             ],
    backgroundColor: 'rgba(255, 99, 132, 0.2)',
    borderColor: 'rgba(255, 99, 132, 1)'
};


var countData = {
    labels: ['Планируемые','Заключенные'
          ],
    datasets: [countPlan, countFact]
    };

var chartOptions = {
    responsive: true,
    title:{
    display:true,
    text:'Договоры филиала'}

};

var myChart = new Chart(ctx, {
    type: 'bar',
    data: countData,
    options: chartOptions
});
</script>

<script id="scriptIDcontractCountCentre">
var ctx = document.getElementById('contractCountCentre').getContext('2d');

var countPlan = {
    label: "Количество планируемых договоров",
    data: [{{contracts_count_plan.Центр}}
             ],
    backgroundColor: 'rgba(255, 206, 86, 0.2)',
    borderColor: 'rgba(255, 206, 86, 1)'

};

var countFact = {
    label: "Количество заключенных договоров",
    data: [{{contracts_count_fact.Центр}}
             ],
    backgroundColor: 'rgba(255, 99, 132, 0.2)',
    borderColor: 'rgba(255, 99, 132, 1)'
};


var countData = {
    labels: ['Планируемые','Заключенные'
          ],
    datasets: [countPlan, countFact]
    };

var chartOptions = {
    responsive: true,
    title:{
    display:true,
    text:'Централизованные договоры'}

};

var myChart = new Chart(ctx, {
    type: 'bar',
    data: countData,
    options: chartOptions
});
</script>

{% endblock content %}
