{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Газпром планировщик</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
</head>
<body>
    <header>

        <div class="media">
            <a href="/"><img class="logo" src="{% static 'img/gazpromlogo_3.png' %}" alt="logo"></a>
        </div>

        <div class="user-info">

            <a href="/"><p class="user-info-txt">User Name</p></a>
            <a href="/"><p class="user-info-txt">User E-mail</p></a>

        </div>

    </header>

    <nav>
    {% with namespace=request.resolver_match.namespace %}
        <a href="/plane" class="nav-element{% if namespace == 'plane' %} nav-active{% endif %}">
            Планирование
        </a>
        <a href="/contractlist" class="nav-element{% if namespace == 'contractlist' %} nav-active{% endif %}">
            Реестр договоров
        </a>
        <a href="/analytics" class="nav-element{% if namespace == 'analytics' %} nav-active{% endif %}">
            Аналитика
        </a>
        <a href="/admin" class="nav-element">Администрирование</a>
        <a href="/catalog" class="nav-element{% if namespace == 'catalog' %} nav-active{% endif %}">
            Справочники
        </a>
        <a href="/notifications" class="nav-element{% if namespace == 'notifications' %} nav-active{% endif %}">
            Уведомления
        </a>
    {% endwith %}
    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

	<footer class="footer">

        <div>Филиал «Минское управление магистральных газопроводов»</div>
        <div>ОАО «Газпром трансгаз Беларусь»</div>
        <br>
        <div>Сделано командой «Python hack» :P</div>

    </footer>
</body>
</html>