{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
</head>
<body>
    <header>

        <a href="/"><img class="logo" src="{% static 'img/gazpromlogo_2.png' %}" alt="logo"></a>

        <div class="user-info">

            <a href="/"><p class="user-info-txt">{{ request.user }}</p></a>
            <a href="/"><p class="user-info-txt">{{ request.user.email }}</p></a>

        </div>
        <button class="btn-logout"><a class="btn-logout-text" href="{% url 'logout' %}">Logout</a></button>

    </header>

    <nav>
        <a href="/plane" class="nav-element">Планирование</a>
        <a href="{% url 'planes:contracts' %}" class="nav-element">Реестр договоров</a>
        <a href="{%url 'analytics:analytics'%}" class="nav-element">Аналитика</a>
        <a href="/admin" class="nav-element">Администрирование</a>
        <a href="/catalog" class="nav-element">Справочники</a>
        <a href="/" class="nav-element">Уведомления</a>
    </nav>

    {% block content %}
    {% endblock content %}

</body>
</html>