<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Добавление нового контракта<br>
<form action="" method="post">
    {% csrf_token %}
    {% for field in contract_form %}
        {{ field.label }}:{{ field }}<br>
    {% endfor %}
    <br>ФОРМА 2<br>
    {% for field in sum_b_form %}
        {{ field.label }}:{{ field }}<br>
    {% endfor %}
    <br>ФОРМА 3<br>
    {% for field in sum_r_form %}
            {{ field.label }}:{{ field }}<br>
    {% endfor %}
    <button type="submit">ОК</button>
</form>

</body>
</html>