{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static '/planes/js/script_form_year.js' %}"></script>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    <table>
        {% if contract_form_flag_contract_mode %}
            <input name="contract_mode" value="{{ contract_form_flag_contract_mode }}" >
        {% endif %}

        {{ contract_form }}

    </table>

    <br>
    <table>
        {{ sum_byn_year_form }}

    </table>
    <hr><hr>
    {{ formset_months.management_form }}
    <table>
        {% for form in formset_months %}
            {{ form }}
        {% endfor %}
    </table>
    <hr><hr>

    {{ formset_quarts.management_form }}
    <table>
        {% for form in formset_quarts %}
            {{ form }}
        {% endfor %}
    </table>
    <hr><hr>

    <table>
    {{ rur_form }}
    </table>

    <button type="submit">ОК</button>
</form>


</body>
</html>