{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static '/planes/js/script_form_year.js' %}"></script>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    <table>
        {% if contract_mode_flag %}
            <input hidden name="contract_mode" value="{{ contract_mode_flag }}" id="id_contract_mode">
        {% endif %}
        {% if finance_cost_flag %}
            <input hidden name="finance_cost" value="{{ finance_cost_flag }}" id="id_finance_cost">
        {% endif %}
        {% if activity_form_flag %}
            <input hidden name="activity_form" value="{{ activity_form_flag }}" id="id_activity_form">
        {% endif %}

        {{ contract_form }}
    </table>
    <br>
    <table>
        {{ sum_byn_year_form }}
    </table>
    <hr><hr>
    {{ formset_months.management_form }}
    <table>
        {% for form in formset_months %}
            {{ form }}
        {% endfor %}
    </table>
    <hr><hr>

    {{ formset_quarts.management_form }}
    <table>
        {% for form in formset_quarts %}
            {{ form }}
        {% endfor %}
    </table>
    <hr><hr>

    <table>
    {{ rur_form }}
    </table>

    <button type="submit">ОК</button>
</form>


</body>
</html>