<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Наименование (предмет) договора, <br>доп соглашения к договору <br>СОДЕРЖАНИЕ РАБОТ</th>
        <th>Статья финансирования</th>
        <th>Виды деятельности</th>
        <th>Куратор</th>
        <th>Тип договора</th>
        <th>Вид договора (основной /допсоглашение)</th>
        <th>Тип закупки(конкурентная/неконкурентная ЕП, безальтернативный поставщик)</th>
        <th>Номер ППЗ АСЭЗ</th>
        <th>Состояние АСЭЗ</th>
        <th>Номер пункта Положения о закупках товаров, работ, услуг ПАО "Газпром" и Компаний Группы Газпром № 3168</th>
        <th>Статус договора</th>
        <th>Планируемая дата загрузки в АСЭЗ</th>
        <th>Фактическая дата загрузки в АСЭЗ</th>
        <th>НМЦ АСЭЗ с НДС рос.руб.</th>
        <th>Курс в АСЭЗ на дату загрузки</th>
        <th>Сумма договора в RUB с НДС</th>
        <th>Валюта договора</th>
        <th>Отклонение данных от НМЦ в АСЭЗ</th>
        <th>№КГГ</th>
        <th>Плановая сумма SAP, всего</th>
        <th>Плановая сумма SAP I кв.</th>
        <th>Плановая сумма SAP II кв.</th>
        <th>Плановая сумма SAP III кв.</th>
        <th>Плановая сумма SAP IV кв.</th>
        <th>Регистрационный № договора в SAP (№ карточки договора)</th>
        <th>Номер договора</th>
        <th>Планируемая дата заключения</th>
        <th>Фактическая дата заключения</th>
        <th>Период действия договора (с)</th>
        <th>Период действия договора (по)</th>
        <th>Контрагент по договору</th>
        <th>Сумма заключенного договора, всего без НДС</th>
        <th>Сумма заключенного договора I кв., без НДС, BYN</th>
        <th>Сумма заключенного договора II кв., без НДС, BYN</th>
        <th>Сумма заключенного договора III кв., без НДС, BYN</th>
        <th>Сумма заключенного договора IV кв., без НДС, BYN</th>
        <th>Сумма заключенного договора, всего с НДС, BYN</th>
        <th>Общая цена договора с учетом всех дополнительных соглашений<br>(Допсоглашение в реестре должно отображаться как отдельная запись!,<br> поэтому данное поле должно быть только как справочное!)</th>
        <th>Прогноз, всего</th>
        <th>Прогноз Янв</th>
        <th>Прогноз Фев</th>
        <th>Прогноз Март</th>
        <th>Прогноз Iкв</th>
        <th>Прогноз Апр</th>
        <th>Прогноз Май</th>
        <th>Прогноз Июнь</th>
        <th>Прогноз IIкв</th>
        <th>Прогноз 6 месяцев</th>
        <th>Прогноз Июль</th>
        <th>Прогноз Авг</th>
        <th>Прогноз Сент</th>
        <th>Прогноз III кв</th>
        <th>ПРОГНОЗ 9 месяцев</th>
        <th>Прогноз Окт</th>
        <th>Прогноз Нояб</th>
        <th>Прогноз Дек</th>
        <th>Прогноз IV кв</th>
        <th>Экономия по заключенному договору, всего</th>
        <th>Экономия по заключенному договору,<br>I кв</th>
        <th>Экономия по заключенному договору,<br>II кв</th>
        <th>Экономия по заключенному договору,<br>III кв</th>
        <th>Экономия по заключенному договору,<br>IV кв</th>
        <th>Факт Всего</th>
        <th>Факт Iкв</th>
        <th>Факт Янв</th>
        <th>Факт Фев</th>
        <th>Факт Март</th>
        <th>Факт IIкв</th>
        <th>Факт Апр</th>
        <th>Факт Май</th>
        <th>Факт Июнь</th>
        <th>"Плановая сумма SAP, 6 месяцев"</th>
        <th>"Факт, 6 месяцев"</th>
        <th>Факт IIIкв</th>
        <th>Факт Июль</th>
        <th>Факт Авг</th>
        <th>Факт Сент</th>
        <th>"Плановая сумма SAP,<br>9 месяцев"</th>
        <th>"Факт,<br>9 месяцев"</th>
        <th>Факт IVкв</th>
        <th>Факт Окт</th>
        <th>Факт 10 месяцев</th>
        <th>Факт Нояб</th>
        <th>Факт Дек</th>
        <th>Экономия по результатам исполнения договоров всего</th>
        <th>Экономия по результатам исполнения договоров, I квартал</th>
        <th>Экономия по результатам исполнения договоров, II квартал</th>
        <th>Экономия по результатам исполнения договоров, III квартал</th>
        <th>Экономия по результатам исполнения договоров, IV квартал</th>
        <th>Сумма средств по не заключенным договорам</th>
        <th>Абсолютная экономия по договору, всего</th>
    </tr>

    {% for con_sum in contract_and_sum %}
        <tr>
            <td><input type="checkbox" value="{{ con_sum.contract.id }}" class="contract_choice"><a href="{{ con_sum.contract.get_absolute_url }}" id="{{ con_sum.contract.id }}">{{ con_sum.contract.title }}</a></td>
            <td>{{ con_sum.contract.finance_cost }}</td>
            <td>{{ con_sum.contract.activity_form }}</td>
            <td>{{ con_sum.contract.curator }}</td>
            <td>{{ con_sum.contract.contract_type }}</td>
            <td>{{ con_sum.contract.contract_mode }}</td>
            <td>{{ con_sum.contract.purchase_type }}</td>
            <td>{{ con_sum.contract.number_ppz }}</td>
            <td>{{ con_sum.contract.stateASEZ }}</td>
            <td>{{ con_sum.contract.number_PZTRU }}</td>
            <td>{{ con_sum.contract.contract_status }}</td>
            <td>{{ con_sum.contract.plan_load_date_ASEZ }}</td>
            <td>{{ con_sum.contract.fact_load_date_ASEZ }}</td>
            <td>{{ con_sum.sum_rur.start_max_price_ASEZ_NDS }}</td>
            <td>{{ con_sum.sum_rur.currency_rate_on_load_date_ASEZ_NDS }}</td>
            <td>{{ con_sum.sum_rur.contract_sum_NDS_RUB }}</td>
            <td>{{ con_sum.sum_rur.currency }}</td>
            <td>{{ con_sum.sum_rur.delta_data_ASEZ }}</td>
            <td class="no">КГГ?</td>
            <td>{{ con_sum.sum_byn.plan_sum_SAP }}</td>
            <td class="no">плановая сумма сап 1</td>
            <td class="no">плановая сумма сап 2</td>
            <td class="no">плановая сумма сап 3</td>
            <td class="no">плановая сумма сап 4</td>
            <td>{{ con_sum.contract.register_number_SAP }}</td>
            <td>{{ con_sum.contract.contract_number }}</td>
            <td>{{ con_sum.contract.plan_sign_date }}</td>
            <td>{{ con_sum.contract.fact_sign_date }}</td>
            <td>{{ con_sum.contract.start_date }}</td>
            <td>{{ con_sum.contract.end_time }}</td>
            <td>{{ con_sum.contract.counterpart }}</td>
            <td>{{ con_sum.sum_byn.contract_sum_without_NDS_BYN }}</td>
            <td>где 1 кв</td>
            <td>где 2 кв</td>
            <td>где 3 кв</td>
            <td>где 4 кв</td>
            <td>{{ con_sum.sum_byn.contract_sum_with_NDS_BYN }}</td>
            <td>{{ con_sum.sum_byn.contract_total_sum_with_sub_BYN }}</td>
            <td>{{ con_sum.sum_byn.forecast_total }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum.sum_byn.economy_total }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum.sum_byn.fact_total }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum.sum_byn.economy_contract_result }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum. }}</td>
            <td>{{ con_sum.sum_byn.total_sum_unsigned_contracts }}</td>
            <td>{{ con_sum.sum_byn.economy_total_absolute }}</td>
        </tr>
    {% endfor %}
</table>
<a href="{% url 'planes:create_contract' %}">Создать договор</a>
<br>
<button class="delete_contract">Удалить контракты</button>
<button class="copy_contract">Копировать контракт</button>
<a href="{% url 'planes:deleted_contracts' %}">Уаленные контракты</a>
</body>
<script>
    $('document').ready(function () {
        $('.contract_choice').on('click', function (chose) {
            console.log(this.value);
        });

        $('.delete_contract').on('click', function (del_con) {
            let checked = [];
            $('input:checkbox:checked').each(function() {
                checked.push($(this).val());

            });
            console.log(checked);
            $.ajax({
                'url':'/plane/contracts/create_contract/',
                'data': {'contract_id':'con_id',
                        'from_ajax':'del_contract',
                        'choosed':(checked),
                        },
                success: function (suc) {
                    console.log('success');
                }
            });
        });

        $('.copy_contract').on('click', function (copy_con) {
            let checked = []
            $('input:checkbox:checked').each(function() {
                checked.push($(this).val());
            });
            console.log(checked.length)
            if (checked.length != 1) {
                alert('Выбрано более одного контракта для копирования');
            }
            else {
                    url_to_go = 'copy_contract/' + '?pattern_contract_id='+checked ;
                    window.location.href = url_to_go ;
            };
        });

    });
</script>
</html>