<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Наименование (предмет) договора, <br>доп соглашения к договору <br>СОДЕРЖАНИЕ РАБОТ</th>
        <th>Статья финансирования</th>
        <th>Виды деятельности</th>
        <th>Куратор</th>
        <th>Тип договора</th>
        <th>Вид договора (основной /допсоглашение)</th>
        <th>Тип закупки(конкурентная/неконкурентная ЕП, безальтернативный поставщик)</th>
        <th>Номер ППЗ АСЭЗ</th>
        <th>Состояние АСЭЗ</th>
        <th>Статус договора</th>
        <th>Плановая сумма SAP, всего</th>
        <th>Регистрационный № договора в SAP</th>
        <th>Номер договора</th>
        <th>Фактическая дата заключения договора</th>
        <th>Период действия договора</th>
        <th>Контрагент</th>
        <th>Сумма заключенного договора, всего без НДС</th>
        <th>Прогноз, всего</th>
        <th>Экономия по заключенному договору</th>
        <th>Факт всего</th>
        <th>Абсолютная экономия по договору, всего</th>
        <th>Сумма средст по заключенным договорам</th>
        <th>Экономия?</th>
    </tr>

    <tr>
        <td>Наименование (предмет) договора, <br>доп соглашения к договору <br>СОДЕРЖАНИЕ РАБОТ</td>
        <td>Статья финансирования</td>
        <td>Виды деятельности</td>
        <td>Куратор</td>
        <td>Тип договора</td>
        <td>Вид договора (основной /допсоглашение)</td>
        <td>Тип закупки(конкурентная/неконкурентная ЕП, безальтернативный поставщик)</td>
        <td>Номер ППЗ АСЭЗ</td>
        <td>Состояние АСЭЗ</td>
        <td>Статус договора</td>
        <td>Плановая сумма SAP, всего</td>
        <td>Регистрационный № договора в SAP</td>
        <td>Номер договора</td>
        <td>Фактическая дата заключения договора</td>
        <td>Период действия договора</td>
        <td>Контрагент</td>
        <td>Сумма заключенного договора, всего без НДС</td>
        <td>Прогноз, всего</td>
        <td>Экономия по заключенному договору</td>
        <td>Факт всего</td>
        <td>Абсолютная экономия по договору, всего</td>
        <td>Сумма средст по заключенным договорам</td>
        <td>Экономия?</td>

    </tr>
</table>

<form action="">
    {% for field in form %}
        {{ field.label }}
        <br>
    {% endfor %}
</form>
<hr>
{% for c in contracts %}
    {{ c }}<br>
{% endfor %}<br>
{{ contracts }}

</body>
</html>