{% extends 'base.html'%}

{% load static %}

{% block content %}

    <div class="headline">
        <h1>Справочник "{{ title }}"</h1>
    </div>

{#    <section id="directories-list">#}
{#    <div class="list-container">#}
    <div id="data-container" class="catalog-container">

        <form action="">
            <table>
                {{ formset.management_form }}

                {% for form in formset.forms %}
                  {% if forloop.first %}
                  <thead>
                      <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                      </tr>
                  </thead>
                  {% endif %}

                  <tr>
                  {% for field in form.visible_fields %}
                    <td>
                    {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                          {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                          {% endfor %}
                        {% endif %}

                        {{ field.errors.as_ul }}
                        {{field}}
                    </td>
                  {% endfor %}
                  </tr>

                {% endfor %}

            </table>
        </form>

    </div>
{#    </section>#}
{#--------------------------------------------------------------------#}
{#    <div id="data-container">#}
{#        <table>#}
{#            <thead>#}
{#                <tr>#}
{#                    <th>{{ v_name|capfirst }}</th>#}
{#                </tr>#}
{#            </thead>#}
{##}
{#            {% for name in queryset %}#}
{#                <tr>#}
{#                    <td>{{ name }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{##}
{#        </table>#}
{#    </div>#}

    <div class="buttons-container">
        <button class="button" onclick="">Сохранить</button>
        <button class="button" onclick="history.back()">Назад</button>
    </div>

{% endblock content %}
