{% extends 'base.html'%}

{% load static %}

{% block content %}
    <section id="directories-list">
    <div class="list-container">
        <h3>Справочник "{{ title }}"</h3>

        <form action="">
            <table>
                {{ formset.management_form }}

                {% for form in formset.forms %}
                  {% if forloop.first %}
                  <thead>
                      <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                      </tr>
                  </thead>
                  {% endif %}

                  <tr>
                  {% for field in form.visible_fields %}
                    <td>
                    {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                          {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                          {% endfor %}
                        {% endif %}

                        {{ field.errors.as_ul }}
                        {{field}}
                    </td>
                  {% endfor %}
                  </tr>

                {% endfor %}

            </table>
        </form>

    </div>
    </section>

    <div class="plans-buttonsfield">
        <div class="buttons-container">
            <button class="button" onclick="history.back()">Назад</button>
        </div>
    </div>
{% endblock content %}
