{% extends 'base.html'%}

{% load static %}


{% block styles %}
{% endblock styles %}


{% block content %}

    <div class="headline">
        <h1>Справочник "{{ title }}"</h1>
    </div>

    <div id="data-container" class="catalog-container">
        <table id="myTable">
        {% for form in formset.forms %}

            {% if forloop.first %}
            <thead>
                <tr>
                {% for field in form.visible_fields %}
                    {% if not forloop.last %}
                    <th>{{ field.label|capfirst }}</th>
                    {% endif %}
                {% endfor %}
                </tr>
            </thead>
            {% endif %}

            {% if not forloop.last %}
            <tbody>
                <tr>
                {% for field in form.visible_fields %}
                    {% if not forloop.last %}
                    <td>
                        {{ field.value }}
                    </td>
                    {% endif %}
                {% endfor %}
                </tr>
            </tbody>
            {% endif %}

        {% endfor %}
        </table>
    </div>

    <div class="buttons-container">
{#        <button id="btn-edit-mode-show" class="button" onclick="saveEditions()" style="display: none;">Сохранить</button>#}
        <button id="btn-edit-mode-show" class="button" onclick="saveEditions()" style="display: none;">Сохранить</button>
{#        <button id="btn-edit-mode-hide" class="button" onclick="enableEditMode()">EditMode</button>#}
        <button id="btn-edit-mode-hide" class="button" onclick="window.location.href='{{ request.path }}edit';">Редактировать</button>
{#        <button class="button" onclick="history.back()">Назад</button>#}
        <button class="button" onclick="window.location.href='/catalog/';">Назад</button>
    </div>

{% endblock content %}


{% block scripts %}
{% endblock scripts %}
