{% extends 'base.html'%}

{% load static %}

{% block content %}

{#    <section id="directories-list">#}
    <div id="data-container">
        <div class="list-container">
            <ul>
                <li><a href="01" class="list-item">Справочник "Статья финансирования"</a></li>
                <li><a href="02" class="list-item">Справочник "Вид деятельности"</a></li>
                <li><a href="03" class="list-item">Справочник "Куратор"</a></li>
                <li><a href="04" class="list-item">Справочник "Тип договора"</a></li>
                <li><a href="05" class="list-item">Справочник "Вид договора"</a></li>
                <li><a href="06" class="list-item">Справочник "Тип закупки"</a></li>
                <li><a href="07" class="list-item">Справочник "Состояние АСЭЗ"</a></li>
                <li><a href="08" class="list-item">Справочник "Контрагент"</a></li>
                <li><a href="09" class="list-item">Справочник "Статус договора"</a></li>
                <li><a href="10" class="list-item">Справочник "Тип пользователя"</a></li>
                <li><a href="11" class="list-item">Справочник "Номер пункта Положения о закупках"</a></li>
                <li><a href="12" class="list-item">Справочник "Отчет"</a></li>
            </ul>
        </div>
        </div>
{#    </section>#}

{% endblock content %}
